<div class="ml-8 mt-8 flex flex-column w-7">
    <span class="text-xl font-bold mb-2">17 June 2022 - Your day looks like this</span>

    <p-card *ngFor="let activity of mock.activity;let index=index;let last=last" class="mb-2">
        <div class="flex justify-content-between">
            <div class="flex">
                <img [src]="activity.icon" [alt]="activity.name" class="mr-1 w-4rem">

                <div class="flex flex-column">
                    <div>{{activity.name}}</div>

                    <div>{{activity.category}}</div>
                </div>
            </div>

            <div *ngIf="!last">{{mock.activity|duration:index}}</div>
        </div>
    </p-card>
</div>