<div class="container">
  <div class="header surface-0 h-2rem w-full flex justify-content-end align-items-center">
    <img *ngIf="mock?.avatar" [src]="mock?.avatar" class="border-circle cursor-pointer mr-1 w-2rem">

    <div class="cursor-pointer pi pi-cog mr-4"></div>
  </div>

  <p-tree [(selection)]="treeSelection" [value]="treeValue" (onNodeSelect)="onNodeSelect($event.node)" class="menu"
    selectionMode="single" styleClass="h-full w-15rem"></p-tree>

  <div class="content">
    <router-outlet (activate)="activate($event)"></router-outlet>
  </div>
</div>