.container {
    display: grid;
    grid-template-areas:
        'header header'
        'menu content';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    min-height: 100vh;

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .menu {
        grid-area: menu;
    }
}